<section
  class="flex justify-between items-center py-4 px-2 bg-rose-100 border-b border-rose-300"
>
  <div class="container mx-auto flex justify-between items-center text-lg">
    <a routerLink="/" class="flex items-center gap-4">
      <img src="favicon.ico" alt="" />
      <p class="">
        Trusted by <br />
        5 Crore= Travellers
      </p>
    </a>
    <div class="hidden md:flex items-center gap-4">
      <a routerLink="/buses" class="hover:text-rose-800 hover:font-semibold"
        >Buses</a
      ><a routerLink="/trains" class="hover:text-rose-800 hover:font-semibold"
        >Trains</a
      ><a routerLink="/flights" class="hover:text-rose-800 hover:font-semibold"
        >Flights</a
      ><a routerLink="/hotels" class="hover:text-rose-800 hover:font-semibold"
        >Hotels</a
      ><a routerLink="/offers" class="hover:text-rose-800 hover:font-semibold"
        >Offers</a
      ><a routerLink="/track" class="hover:text-rose-800 hover:font-semibold"
        >Track Ticket</a
      ><a routerLink="/help" class="hover:text-rose-800 hover:font-semibold"
        >Need Help?</a
      >
    </div>
    <div
      class="hidden md:block bg-white py-2 px-4 rounded-lg border border-rose-300 transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110"
    >
      <button class="cursor-pointer">Login/SignUp</button>
    </div>
    <div>
      <button
        (click)="toggleTheme()"
        class="{{
          isdarkMode ? 'bg-gray-800 text-white' : 'bg-white text-gray-800'
        }} cursor-pointer py-2 px-4 rounded-lg border border-rose-300 transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110"
      >
        <span *ngIf="!isdarkMode">🌙</span>
        <span *ngIf="isdarkMode">☀️</span>
      </button>
    </div>
  </div>
</section>
